.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  align-items: center;
}

.cart-item img {
  width: 100px;
  object-fit: contain;
  border-radius: 5px;
}

.cart-item div {
  flex-grow: 1;
}

.cart-item button {
  background-color: #dc3545;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-item button:hover {
  background-color: #b02a37;
}

.btn-clear-cart {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-clear-cart:hover {
  background-color: #0056b3;
}

